.main__container {
  background-image: url('https://images.pexels.com/photos/905163/pexels-photo-905163.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px 20px 20px 20px;
  margin-top: 7%;
}

.main__container {
  h1 {
    color: white;
  }
}

.main__contacto {
  @include screenSize-down(s) {
    margin-top: 22%;
  }
  @include screenSize-up(md) {
    margin-top: 12%;
  }
}
