.footer {
  //background:linear-gradient(90deg, #c2796e 0%,#e9b670 68% );
  background-color: rgba(0, 0, 0, .8);
  color: white;
  font-weight: bold;
  width: 100%;
  height: 125px;
  position: relative;
  bottom: 0;
  //border-radius: 0 100px 0 0;
  //border: 1px solid grey;
  
  &__contact__info {
    padding-right: 50px;
    padding-top: 10px;
    font-weight: lighter;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    a:hover, a {
      box-shadow: 4px 4px 5px 1px #0001;
    }
  }
  &__copyright {
    @include toRem(16);
    color: white;
    text-align: center;
    margin-bottom: 0;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  &__media {
    width: 100%;
    height: 100px;
    span {
      height: 20px;
      width: 20px;
      display: block;
      margin-right: 10px;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    &--fb {
      background-image: url('../assets/facebook.png');
      background-size: cover;
    }
    &--ig {
      background-image: url('../assets/instagram.png');
      background-size: cover;
    }
  }
  h3 {
    text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  &__container {
    padding: 4px 0 3px 74px;
    h5 {
      font-weight:200 ;
    }
  }
  &__follow {
    padding: 3px 0 3px 14px;
  }
}

@include screenSize-down(md) {
  .footer{
    &__follow {
      display: none;
    }
    &__container {
      display: flex;
      flex-direction: row;
      h5 {
        display: none;
      }
    }
    &__media {
      span {
        width: 40px;
        height: 40px;
      }
    }
  }
  .mob {
    display: flex;
    flex-direction: row;
  }
  .footer__container {
    padding: 18px 0 0 15px;
  }
  .footer__contact__info {
    p, span {
      display: none;
    }
    .btn {
      margin: 13px 70px 0 0;
    }
  }
}


/////////////////////////////////////////////////////////////////////////////

.footer-dark {
  padding:50px 0;
  //color:#f0f9ff;
  color: rgba(0, 0, 0, .7);
  //background-color:#282d32;
  background-color: rgba(189, 181, 181, .2);
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(187,182,182,0.4);
  margin: 0 4px 10px 4px;
  color:rgb(187, 182, 182);
  opacity:.8;
}

.footer-dark .item.social > a:hover {
  opacity:1;
}

.footer-dark .copyright {
  text-align:center;
  padding: 12px 0 12px 0;
  opacity:0.7;
  font-size:13px;
  margin-bottom:0;
  background-color: rgba(189, 181, 181, .8);
}

