.footer {
  background:linear-gradient(90deg, #c2796e 0%,#e9b670 68% );
  //background:linear-gradient(90deg, #d3cce3 0%,#e9e4f0 100% );
  color: white;
  font-weight: bold;
  width: 100%;
  height: 125px;
  border-radius: 0 100px 0 0;
  border: 1px solid grey;
  
  &__contact__info {
    padding-right: 50px;
    padding-top: 10px;
    font-weight: lighter;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    a:hover, a {
      box-shadow: 4px 4px 5px 1px #0001;
    }
  }
  &__copyright {
    @include toRem(16);
    color: white;
    text-align: center;
    margin-bottom: 0;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  &__media {
    width: 100%;
    height: 100px;
    span {
      height: 20px;
      width: 20px;
      display: block;
      margin-right: 10px;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    &--fb {
      background-image: url('../assets/facebook.png');
      background-size: cover;
    }
    &--ig {
      background-image: url('../assets/instagram.png');
      background-size: cover;
    }
  }
  h3 {
    text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  &__container {
    padding: 4px 0 3px 74px;
  }
  &__follow {
    padding: 3px 0 3px 14px;
  }
}

@include screenSize-down(md) {
  .footer{
    &__follow {
      display: none;
    }
    &__container {
      display: flex;
      flex-direction: row;
      h5 {
        display: none;
      }
    }
    &__media {
      span {
        width: 40px;
        height: 40px;
      }
    }
  }
  .mob {
    display: flex;
    flex-direction: row;
  }
  .footer__container {
    padding: 18px 0 0 15px;
  }
  .footer__contact__info {
    p, span {
      display: none;
    }
    .btn {
      margin: 13px 70px 0 0;
    }
  }
}