.header__logo {
    height: 59px;
    width: 59px;
}

nav {
  padding: 24px;
}

.boton__consulta {
  text-decoration: none;
  font-weight: bold;
  padding: .3rem .7rem;
  outline: none;
  border-radius: 5px;
  color: white;
  background: linear-gradient(90deg, rgba(73,73,92,1) 0%, rgba(73,7,149,0.7794468129048494) 60%, rgba(80,11,231,0.6281863087031687) 100%);
  &:hover {
    color: white !important;
    animation: agrandar 200ms ease-in forwards;
    @keyframes agrandar {
      to {
        transform: scale(1.1);
      }
    }
  }
  &--nav {
    @include toRem(20.8);
  }
}

.header {
  &__ul {
    list-style-type: none;
    list-style: none;
  }
  &__ul li a {
    color: #000;
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    @include toRem(20.8);
  }
  &__ul li a:hover, __menu-btn:hover {
    background-color: #f4f4f4;
    border-radius: 10px;
  }
  &__menu-icon {
    margin: 0 20px 0 0;
    font-size: 46px;
    line-height: 70px;
    display: none;
    width: 26px;
  }
  &__menu-btn {
    display: none;
  }
}

@include screenSize-down(md) {
  .sub-div {
    justify-content: flex-end;
    flex-flow: wrap;
  }
  .header {
    &__menu-icon {
      display: inline-block;
      cursor: pointer;
    }
    &__ul {
      text-align: center;
      width: 100vh;
      display: none;
      a {
        display: block;
        margin: 0;
        border-bottom: 1px solid #EAEAEB;
      }
    }
  }
  #menu-btn:checked + .header__ul {
    display: block;
  }
}


// @include screenSize-down(md) {
//   .boton__consulta{
//     &--nav {
//       display: none;
//     }
//   }
//   .header__ul {
//     flex-direction: column;
//     justify-content: flex-end;
//     text-align: right;
//     a {
//       @include toRem(19);
//     }
//   }
//   .link {
//     &-ul:not(:last-child) {
//       margin-right: 0;
//     }
//   }
//   .header__logo {
//     width: 69px;
//     height: 69px;
//   }
// }
