.section {
  width: 100%;
  height: 400px;
  &__container {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-evenly;
  }
  &__img {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 20px;
  }
  &__info {
    height: 280px;
    width: 370px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    justify-content: center;
    p {
      color: black;
      padding: 0 15px;
      line-height: 22px;
      @include toRem(17);
    }
  }
  &__h3 {
    font-weight: bold;
    @include toRem(23);
    margin: 16px 0 24px 0;
  }
}
